# web framework
fastapi
uvicorn
jinja2
python-multipart

# ai & llm
openai
python-dotenv
pydantic

# ml & logic
# install torchvision and torchaudio first manually in your venv. ensure they are >= 2.4.0. then, run pip install -r requirements.txt.
sentence-transformers
scikit-learn
numpy<2.0.0