/* ---------- GENERAL ---------- */
html, body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
    height: 100%;
    margin: 0;
    color: #2c3e50;
}

h1 {
    color: #1e272e;
}

.container {
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
}

/* ---------- HEADER ---------- */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
}

#header a {
    text-decoration: none;
    color: black;
}