<head>
    <title>Bodybuilding News</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/portfolio/bodybuilding.css">
    <script src="/static/portfolio/bb_script.js" defer></script>
</head>
<header id="header">
    <div class="header-container">
        <h1>Bodybuilding News</h1>
        <a href="">OPEN</a>
        <a href="">CLASSIC PHYSIQUE</a>
        <a href="">INFLUENCERS</a>
        <a href="">OTHER</a>
        <input type="text" placeholder="Search">
    </div>
</header>
<body>
    <div id="hero">
        <img src="/static/portfolio//images/hero.png" alt="vector tracing of open bodybuilders">
        <div id="hero-text" class="reveal">
            <h1>Bodybuilding News</h1>
            <h2>Bringing you bodybuilding news and updates faster than anyone else.</h2>
        </div>
    </div>
    <div id="article-section">
        <div class="article reveal">
            <div class="img-container">
                <img src="/static/portfolio/images/andrew-jacked-heading.jpg" alt="article heading image">
            </div>
            <div class="text-container">
                <h1>Andrew Jacked Wins Arnold Classic 2026</h1>
            </div>
        </div>
        <div class="article reveal">
            <div class="img-container">
                <img src="/static/portfolio/images/arnold.png" alt="article heading image">
            </div>
            <div class="text-container">
                <h1>Arnold Classic Boasts Huge Increase in Prize Money</h1>
            </div>
        </div>
    </div>
</body>